# Git
.git
.github

# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# Test
tests/
.pytest_cache/

# Datos
data/
datasets/
outputs/

# Reportes generados
soc_agent/reports/*.md
soc_agent/reports/*.json

# Documentación pesada
docs/*

# Logs
*.log
*.gz
*.tar.gz

# Desarrollo
utils.md

# Cache
.cache/

# Linux
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
